<div class="plot" cdkDrop>
        <app-edge *ngFor="let edge of edgeData; let i = index"
        [edgeData]="edge"
        [nodeData]="nodeData">
        </app-edge>
        <app-node *ngFor="let node of nodeData; let i = index" 
                [nodeData]="node"
                [nodeNumber]="i" 
                (createNewNode)="createNewNode($event)"
                [(currentLinkNode)]="currentLinkNode"
                (linkNode)="linkNode($event)"
                (changeNodeData)="changeNodeData($event,i)">
        </app-node>
</div>
