.sidebar {
    position: fixed;
    width: 26vw;
    height: 95vh;
    margin-top: 2.5vh;
    margin-right: 0%;
    margin-left: 2.5vh;
    background-color: #e5e5e5;
    display: table;
    border: solid 1px #757575;
    box-shadow: 5px 5px 5px #757575;
    border-radius: 5px;
}

.sidebar .header {
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    padding-top: 3%;
    padding-left: 3%;
}

.sidebar .footer {
    width: 100%;
    border: solid 5px #757575; 
    bottom: 0%;
    height: 3%;
    padding-left: 1%;
    display: table-row;
    border-style: 5px;
    background-color: #c5c5c5;
}

.sidebar .footer input {
    width: 100%;
    margin: 0;
    padding: 1%;
    padding-left: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
    border: none;
    vertical-align: center;
    background-color: #c5c5c5;
    border-top: solid 5px #c5c5c5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
}

.sidebar .text {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 78vh;
    overflow-y: scroll;
}