.header {
    padding: 0.2%;
    color: white;
    text-align: center;
}

.content {
    width: 100vw;
    height: 98vh;
}

.body {
    position: absolute;
    height: 100vh;
    background-color: #757575;
}