<div class="body">
    <div class="content">
        <app-visual-view [nodeData]="nodeDataList" 
        [edgeData]="edgeDataList"
        (appendNode)="appendNode($event)"
        (createLink)="createLink($event)"
        (renameNode)="renameNode($event)"
        (changeNodeDataList)="changeNodeDataList($event)"></app-visual-view>
        <app-text-view [instructions]="instructions"
        [inputError]="inputError"
        (addInstruction)="addInstruction($event)"></app-text-view>
    </div>
</div>